@media screen and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
  }
  .header {
    background-image: url("../img/bg img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* border: 1px solid red; */
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 80px; */
    padding: 14px 0;
  }
  .header-logo {
    width: 160px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .header-contact {
    display: none;
    /* flex-direction: column; */
    width: 320px;
    height: 50px;
  }

  /*topper mentor*/
  .topper-mentor-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 0 20px; */
  }

  .topper-mentor-heading {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topper-mentor-heading p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    /* line-height: 70px; */
    margin-top: 90px;
  }

  .topper-mentor-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
  }

  .topper-mentor-heading :nth-child(2) {
    color: rgba(0, 111, 185, 1);
  }

  .topper-mentor-underline {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    margin: auto;
  }

  .topper-mentor-left {
    width: 742px;
    height: 450px;
    /* margin: 30px 0 0 60px; */
  }

  .enroll-btn {
    display: flex;
    margin: auto;
    background: #0671e0;
    border: 4px solid #0671e0;
    border-radius: 4px;
    padding: 14px 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .topper-mentor-right {
    display: none;
  }

  /*floating div*/
  .floating {
    display: none;
  }

  /*about*/
  .about {
    margin: 0 0 50px 0;
  }

  .about-gradient-title {
    margin: 20px auto 0 auto;
    /* margin: 60px auto 0 auto; */
    width: 219px;
    opacity: 15%;
    height: 100px;
  }

  .about-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }

  .about-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .about-content {
    width: 80%;
    /*height: 140px;*/
    margin: 40px auto 0 auto;
    text-align: center;
    /*border: 10px solid blue;*/
    /*margin-top: 40px;*/
  }

  .about-content :nth-child(2) {
    margin: 20px;
  }

  /*Benefits*/
  .benefits {
    padding: 1px 0 0 0;
    background-color: rgba(245, 247, 250, 1);
  }

  .benefits-gradient-title {
    margin: 60px auto 0 auto;
    width: auto;
    opacity: 15%;
    height: 100px;
  }

  .benefits-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .benefits-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }

  .benefits-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .p1 {
    display: flex;
    flex-direction: column;
    /* width: 45%; */
    /* height: 112px; */
    text-align: left;
    gap: 8px;
    margin: 40px 30px;
    justify-content: space-evenly;
  }

  .p1-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .p1-title p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
  }

  .p1-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
  }

  /*Enroll*/
  .enroll {
    /* padding: 1px 0 0 0; */
    background-color: rgba(255, 255, 255, 1);
  }

  .enroll-gradient-title {
    margin: 60px auto 0 auto;
    opacity: 15%;
    /* height: 100px; */
  }

  .enroll-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .enroll-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .enroll-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(245, 247, 250, 1);
  }

  .enroll-left {
    display: none;
  }

  .enroll-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin: 20px 30px;
  }

  .custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .custom-counter li {
    counter-increment: step-counter;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .custom-counter li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(0, 111, 185, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 13px;
    border-radius: 20px;
  }

  .enroll-spam {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-wrap: wrap;
  }

  /*achievement*/
  .achievement {
    /* padding: 100px 0 0 0; */
    background-color: rgba(255, 255, 255, 1);
  }

  .achievement-subtitle-container {
    height: 42px;
  }

  .achievement-subtitle {
    text-align: center;
    margin-top: 58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .achievement-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    /*height: 144px;*/
    margin: 30px auto 0 auto;
    text-align: center;
  }

  .achievement-left {
    display: none;
  }

  .achievement-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .achievement-para {
    margin: 55px 0 0 0;
  }

  .achievement-para-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .achievement-para-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  /*our mentors*/
  .mentor {
    padding: 1px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .mentor-gradient-title {
    margin: 60px auto 0 auto;
    width: auto;
    opacity: 15%;
    height: 100px;
  }
  .mentor-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mentor-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }
  .mentor-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }
  .mentor-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
  }

  .mentor-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px auto;
    padding: 10px 10px 30px 10px;
    text-align: left;
    text-wrap: normal;
    width: 60%;
    background-color: rgba(245, 247, 250, 1);
    border-radius: 24px;
    /*padding: 0 70px 0 0 ;*/
  }
  .mentor-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 155px;
    margin: 0 0 20px 0;
  }
  .mentor-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid red;*/
  }
  .mentor-detail {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .mentor-spam {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  /*footer*/
  .footer {
    margin: auto;
  }
  .privacy-policy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 30px;
  }

  .footer-cp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }

  .footer-cp :first-child {
    margin: 20px 5px;
  }
  .footer-cp :nth-child(2) {
    display: none;
  }

  /* modal */
  dialog {
    max-height: 200px;
    padding: 20px 30px;
    font-size: 0.9rem;
    border: 5px solid red;
    background-color: #fefefe;
    box-shadow: 5px 5px 15px -4px #000000;
  }
  dialog a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  dialog a:hover {
    opacity: 0.8;
  }

  .heading {
    display: flex;
    justify-content: space-between;
  }

  #close__dialog {
    border: none;
    background-color: transparent;
    color: #5c5b5a;
    cursor: pointer;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .actions li {
    line-height: 1.6;
  }
}
