@media screen and (min-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
  }

  .header {
    background-image: url("../img/bg img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 686px;
    /* border: 1px solid red; */
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 14px 80px 14px 80px;
  }

  .header-logo {
    width: 160px;
    height: 50px;
  }

  .header-contact {
    display: flex;
    flex-direction: row;
    /*width: 320px;*/
    height: 50px;
  }

  .header-icons-container {
    display: flex;
    height: 51px;
    flex-direction: row;
    align-items: center;
  }

  .header-icons-container :first-child {
    height: 35px;
    width: 35px;
  }

  .header-icons {
    height: 45px;
    width: 45px;
    margin: 0 8px;
  }

  .header-icon-seperator {
    height: 20px;
    /*border: 1.2px solid #212121;*/
  }

  .contact-number {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  .contact-details {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 21px;
  }

  /*topper mentor*/
  .topper-mentor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20px;
  }

  .topper-mentor-heading {
    display: flex;
  }

  .topper-mentor-heading p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    margin-top: 30px;
  }

  .topper-mentor-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .topper-mentor-heading :nth-child(2) {
    color: rgba(0, 111, 185, 1);
  }

  .topper-mentor-underline {
    margin: -30px 0 0 211px;
  }

  /*.topper-mentor  {*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  font-family: "Poppins", sans-serif;*/
  /*  font-weight: 600;*/
  /*  font-size: 64px;*/
  /*  line-height: 96px;*/
  /*  !*margin: 50px 10px ;*!*/
  /*}*/
  /*topper-mentor-underline-container{*/
  /*}*/
  /*.topper-mentor-right  {*/
  /*  display: flex;*/
  /*  flex-direction: row;*/
  /*}*/
  /*.topper-mentor :nth-child(2){*/
  /*  color: rgba(0, 111, 185, 1)*/
  /*}*/

  .topper-mentor-left {
    width: 742px;
    height: 500px;
    margin: 30px 0 0 60px;
  }

  .enroll-btn {
    margin-top: 38px;
    background: #0671e0;
    /* border: 4px solid #0671e0; */
    border-radius: 4px;
    padding: 14px 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #fff;
  }

  .right-boy {
    width: 720px;
    height: 450px;
  }

  /*floating div*/
  .floating {
    position: relative;
    /* top: -2px;
  left: 45px; */
    background: rgba(255, 255, 255, 1);
    border-radius: 12px;
    gap: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -60px auto;
    width: 1150px;
    height: 70px;
    padding: 10px;

    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.75);
  }

  .floating-header {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 111, 185, 1);
  }

  .floating-desc {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 1);
  }

  .floating-seperator {
    height: 50px;
    width: 1px;
  }

  /*about*/
  .about {
    height: 320px;
    margin-top: 110px;
  }

  .about-gradient-title {
    margin: 60px auto 0 auto;
    width: 219px;
    opacity: 15%;
    height: 100px;
  }

  .about-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .about-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }

  .about-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .about-content {
    width: 80%;
    /*height: 140px;*/
    margin: 40px auto 0 auto;
    text-align: center;
    /*border: 10px solid blue;*/
    /*margin-top: 40px;*/
  }

  .about-content :nth-child(2) {
    margin: 20px;
  }

  /*Benefits*/
  .benefits {
    padding: 1px 0 0 0;
    background-color: rgba(245, 247, 250, 1);
  }

  .benefits-gradient-title {
    margin: 60px auto 0 auto;
    width: auto;
    opacity: 15%;
    height: 100px;
  }

  .benefits-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .benefits-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }

  .benefits-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .benefits-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /*height: 144px;*/
    margin: 40px auto 0 auto;
    text-align: center;
  }

  .p1 {
    width: 45%;
    height: 112px;
    text-align: left;
    gap: 8px;
    margin-bottom: 20px;
  }

  .p1-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .p1-title p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
  }

  .p1-content {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
  }

  /*Enroll*/
  .enroll {
    padding: 1px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
  }

  .enroll-gradient-title {
    margin: 60px auto 0 auto;
    width: auto;
    opacity: 15%;
    height: 100px;
  }

  .enroll-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .enroll-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }

  .enroll-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .enroll-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: center;
    /*width: 70%;*/
    /*height: 144px;*/
    margin: 30px auto 0 auto;
    text-align: center;
    background-color: rgba(245, 247, 250, 1);
  }

  .enroll-left {
    width: 40%;
  }

  .enroll-left-img {
    position: relative;
    top: -100px;
    left: -4px;
    height: 500px;
    width: 500px;
  }

  .enroll-right {
    position: relative;
    top: 0;
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .custom-counter li {
    counter-increment: step-counter;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  .custom-counter li::before {
    content: counter(step-counter);
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: rgba(0, 111, 185, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 13px;
    border-radius: 20px;
  }

  .enroll-spam {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  /*achievement*/
  .achievement {
    padding: 100px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
  }

  .achievement-subtitle-container {
    height: 42px;
  }

  .achievement-subtitle {
    text-align: center;
    margin-top: 58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }

  .achievement-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    /*height: 144px;*/
    margin: 30px auto 0 auto;
    text-align: center;
  }

  .achievement-left {
    width: 40%;
  }

  .achievement-left-img {
    height: 365px;
    width: 392px;
  }

  .achievement-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .achievement-para {
    /*margin: 75px 0 0 0;*/
    margin: 0 0 45px 0;
  }

  .achievement-para-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .achievement-para-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  /*our mentors*/
  .mentor {
    padding: 1px 0 0 0;
    background-color: rgba(255, 255, 255, 1);
  }
  .mentor-gradient-title {
    margin: 60px auto 0 auto;
    width: auto;
    opacity: 15%;
    height: 100px;
  }
  .mentor-title-gradient {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      rgba(55, 71, 79, 1),
      rgba(255, 255, 255, 0)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .mentor-subtitle-container {
    width: 273px;
    height: 42px;
    top: 39px;
    margin: -20px auto;
  }
  .mentor-subtitle {
    text-align: center;
    margin-top: -58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
  }
  .mentor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
    /*align-items: center;*/
    /*border: 1px solid red;*/
  }

  .mentor-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
    text-wrap: normal;
    width: 48%;
    background-color: rgba(245, 247, 250, 1);
    border-radius: 70px 8px 8px 70px;
    /*padding: 0 70px 0 0 ;*/
  }
  .mentor-imgs {
    /*margin: 0 30px 0 0;*/
    margin-right: 30px;
  }
  .mentor-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid red;*/
  }
  .mentor-detail {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .mentor-spam {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  /*footer*/
  .footer {
    width: 70%;
    margin: auto;
  }
  .privacy-policy {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .privacy-policy a {
    margin: 20px 0;
    /*padding: 20px;*/
  }

  .footer-cp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
  }

  /* modal */
  dialog {
    max-height: 200px;
    width: 548px;
    padding: 24px;
    margin: auto;
    font-size: 0.9rem;
    border: 5px solid red;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 5px 5px 15px -4px #000000;
  }
  dialog a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  dialog a:hover {
    opacity: 0.8;
  }

  .heading {
    display: flex;
    justify-content: space-between;
  }
  .header h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }

  #close__dialog {
    border: none;
    background-color: transparent;
    color: #5c5b5a;
    cursor: pointer;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .actions li {
    line-height: 1.6;
  }
}
